<header>
    <nav>
        <a class="logo" href="/"><span><span>Manifest</span> Inc</span></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/employee">Employees</a></li>
            <li><a href="/expense">Expenses</a></li>
            <li><a href="/type">Type</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/department">Department</a></li>
        </ul>
    </nav>
</header>
<main>