<div>
    <h2>Expenses listed by Category</h2>
    <% expensesCates.forEach(expenseCategory => { %> 
        <ul>
        <li><h3><%= expensesCategory.name %></h3></li>
        <%if(expensesCategory.expenses.length == 0){%> 
            <p>There are no expenses under this category yet</p>
        <%}else{%> 
            <ol>
            <% expensesCategory.expenses.forEach(item => { %> 
                <li>Name: <%= item.name %>, Amount: $<%= item.amount %> </li>
            <%}) %>
            </ol>
        <%}
        %>
        </ul>
    <% })
    %>
</div>